@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding:0;
    margin:0;
    font-family:poppins;
}

:root{
    --main-color: rgb(136, 136, 136);
}


body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgb(61, 61, 160);
    width:100%;
    position:relative;
}

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.grid{
    width:500px;
    height:500px;
    border: 1px solid var(--main-color);
    display:grid;
    grid-template-columns: repeat(3,1fr);

}

.grid-cell{
    border:1px solid var(--main-color);
    position:relative;
    display:flex;
    align-items:center;
    justify-content: center;
    
}


.grid-cell.circle::before{
    content:'';
    position:absolute;
    width:calc(100% * .6);
    height:calc(100% * .6);
    border:10px solid black;
    border-radius:50%;
    
}

.grid-cell.x::before{
    content:'';
    position:absolute;
    width:calc(100% * .7);
    border:6px solid black;
    transform:rotate(-45deg);
    
}

.grid-cell.x::after{
    content:'';
    width:calc(100% * .7);
    position:absolute;
    border:6px solid black;
    transform:rotate(45deg);
}

.grid-cell.x,
.grid-cell.circle{
cursor:not-allowed;
}


.start-button{
    background-color: rgb(17, 17, 44);
    color:white;
    padding:10px 20px;
    font-size:2rem;
    width:fit-content;
    height:50px;
    position:absolute;
    top:50px;
    left:80px;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
    transition:0.5s ease-in-out;
}

.game-over{
    pointer-events: none;
}
.winning-container{
    display:none;
    opacity:0;
    transition: 1s ease-in-out;
}

.winner-message{
    position:absolute;
    background-color:rgb(5, 5, 5);
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:1;
    opacity: 0.8;
    backdrop-filter: blur(40px);
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    font-size:10rem;    
    transition: 1s ease-in-out;

}

.restart-button{
    width:250px;
    height:70px;
    font-size:3rem;
    color:black;
    text-align:center;
    border-radius:5px;
    background-color:white;
    transition:.2s ease-in-out;
    cursor:pointer;
}

.restart-button:hover{
    opacity:0.5;
}

.winning-container.done{
    display:block;
    opacity:1;
}


@media(max-width:865px){
    body{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:80px
    }


    .start-button{
        position:unset;
        
    }

        .winner-message:not(.restart-button){
        display:flex;
        justify-content:center;
        align-items:center;
        text-align:center;
        gap:50px

    }
}


@media(max-width:400px){
    .grid{
        width:300px;
        height:300px;
        border: 1px solid var(--main-color);
        display:grid;
        grid-template-columns: repeat(3,1fr);
    
    }


    .winner-message{
        position:absolute;
        background-color:rgb(5, 5, 5);
        left:0;
        top:0;
        right:0;
        bottom:0;
        z-index:1;
        opacity: 0.8;
        backdrop-filter: blur(40px);
        color:white;
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        font-size:5rem;    
        transition: 1s ease-in-out;
    
    }

}


@media (max-width:500px){
    .winner-message{
        position:absolute;
        background-color:rgb(5, 5, 5);
        left:0;
        top:0;
        right:0;
        bottom:0;
        z-index:1;
        opacity: 0.8;
        backdrop-filter: blur(40px);
        color:white;
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        font-size:5rem;    
        transition: 1s ease-in-out;
}

.grid{
    width:300px;
    height:300px;

}
}